body {
  background-color: #000;
  background-image: url(./istockphoto-1483370535-612x612.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 600px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.089);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.356);
  box-shadow: 10px 10px 50px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.start {
  padding: 16px 42px;
  background-color: rgba(255, 255, 255, 0.911);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.562);
  box-shadow: 10px 10px 50px black;
}

.fade {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
  color: #ffeef0;
  font-family: "Dancing Script", cursive;
  font-size: 1.8em;
  text-align: center;
  -webkit-animation: text-shadow-drop-center 0.6s both;
  animation: text-shadow-drop-center 0.6s both;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}


